
.cards .card
{
    /* border: 2px solid blue; */
    width: 400px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all .8s;

}

.cards .card:hover
{
    box-shadow: 2px 2px 30px 10px lightgray;
}


.cards .card .card-content
{
    /* border: 2px solid pink; */
    width: 300px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards .card .card-content h2
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards .card .card-content i
{
    font-size: 28px;
    background-color: rgba(128, 128, 128, 0.15);
    padding: 20px;
    border-radius: 100%;
    font-weight: bold;
    transition: all .8s;
}

.fa-dribbble
{
    color: rgb(19, 181, 235);
}
.cards .card:hover i.fa-dribbble
{
    background-color: rgb(19, 181, 235);
    color: white;
}
.fa-file-lines
{
    color: orange;
}

.cards .card:hover .fa-file-lines
{
    background-color: orange;
    color: white;
}
.fa-gauge-high
{
    color: crimson;
}

.cards .card:hover .fa-gauge-high
{
    background-color: crimson;
    color: white;
}
.fa-layer-group
{
    color: rgb(255, 230, 0);
}
.cards .card:hover .fa-layer-group
{
    background-color: rgb(255, 230, 0);
    color: white;
}
.fa-tv
{
    color: red;
}
.cards .card:hover .fa-tv
{
    background-color: red;
    color: white;
}

.fa-torii-gate
{
    color: rgb(148, 211, 233);
}
.cards .card:hover .fa-torii-gate
{
    background-color: rgb(148, 211, 233);
    color: white;
}