#formMainC{
    /* border: 1px solid red; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 0.2px 0.3px 10px rgb(199, 180, 180);
}
#formMainC form{
    padding: 40px 0px;
}
#formMainC form input{
    font-size: 20px;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid rgb(172, 159, 159);
    border-radius: 5px;
}
#formMainC form #nameC,#emailC{
    width: 46%;
}
#formMainC form #subjectC{
    width: 94.5%;
}

#formMainC form textarea{
    font-size: 20px;
    margin-left: 30px;
    padding: 10px;
    width: 94.5%;
    border: 1px solid rgb(172, 159, 159);
    border-radius: 5px;
}
#formMainC form button{
   margin-left: 40%;
   margin-top: 20px;
   font-size: 20px;
   padding: 13px 26px;
   border-radius: 5px;
   border: none;
   background-color: #1bbd36;
   color: white;
}
